.inputBox {
    display: flex;
    flex-direction: column;
    gap: .35rem;


    input {
        font-family: var(--font-primary);
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1.25rem;
        margin-top: 0.625rem;
        padding: 0 1.2rem;
        height: 3.3rem;
        border-radius: 0.5rem;
        background: var(--color-grey-1);
    }
}