.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    border-radius: 0.5rem;

    font-family: var(--font-primary);
    font-size: clamp(0.2rem, 5vw, 1.1rem);
    font-weight: 700;
    padding: 0 1.2rem;
    height: 3rem;
    transition: .4s;

    &.pink {
        background: var(--color-primary-pink);
        color: var(--color-grey-1);
    }

    &.full {
        width: 100%;
    }

    &:hover {
        filter: brightness(1.2);
    }
}